[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
flask = "*"
papermill = "*"
pyarrow = "==0.15.1"
ipykernel = "*"

[requires]
python_version = "3.6"
